table, td, th {
    width: 25%;
    border: 1px solid #ddd;
}

th, td {
    width: 20px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
    background: #ccccff;
    padding-left: 5px;
    height:10px;
}

caption {
    padding: 0.3em;
    color: #fff;
    background: #000;
}

th {
    align-content: center;
    background: #eee;
}
